# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# Локальный файл Докера
docker-compose.yml

# Игнорируем все конфиги
tests/codeception/*.yml

config/console.php
config/db.php
config/params.php
config/web.php
config/mailer.php

/web/index.php

controllers/TestController.php

tests/*.phar
tests/*.yml
tests/*.md
tests/@webroot
tests/codeception/_output
tests/codeception/_support/_generated
tests/codeception/config
tests/codeception/bin
#tests/codeception/_bootstrap.php

tests/codeception/unit
tests/codeception/fixtures
